html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

#sidebar {
    color: #FFFFFF;
    font-family: Arial, serif;
    float: left;
    width: 300px;
    height: 100%;
    padding: 10px;
    background-color: #2D333C;
    border-right: solid #454545;
    border-right-width: 1px;
}

#searchBar {
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: auto;
    width: 80%;
    border-radius: 5px;
}

input[type="search"] {
    padding-left: 10px;
    font-size: 15px;
    height: 40px;
}